@page
@model CENG396WWTTMS.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_LayoutMainPage.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    @*<h3>Login</h3>
        @Model.Msg
        <form method="post" asp-page="login">
            Email <input type="text" name="email" />
            <br /> <br />
            Password <input type="password" name="password" />
            <br /> <br /><input type="submit" value="Login" />
        </form>*@

</body>
</html>
