@page
@model CENG396WWTTMS.TTNumberModel
@{
    ViewData["Title"] = "TTNumber";
    Layout = "~/Pages/Shared/_LayoutTT.cshtml";
}
<style>
    div.a {
        text-align: center;
    }

    h1, h6, div.a {
        font-family: Georgia;
    }
</style>

<br />
<br />
<h1>Water Works Company Trouble Ticket Management System</h1>

<hr />
<br />
<br />

<div class="a">
    <h2>Done!</h2>
</div>
<div class="a">
    <h4>Please check your e-mail to learn your Trouble Ticket Number.</h4>
</div>
<div class="a">
    <h4>Thank you!</h4>
</div>

<br />
<br />

<div class="a ">
    <a asp-page="Index">Back to main page</a>
</div>